<div class="row" style="background-color:#eee;padding: 40px 0">
  <div class="col-sm-7">
      <p class="text-muted text-center">Designed by Madhu Jella</p>
  </div>
  <div class="col-sm-5">
      <div class="text-center center-block">
          <a href="https://www.facebook.com/">
            <i class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="https://twitter.com/">
            <i class="fa fa-twitter-square fa-3x social"></i></a>
          <a href="https://plus.google.com/">
            <i class="fa fa-google-plus-square fa-3x social"></i></a>
      </div>
  </div>
  
  
</div>