<div class="row" style="margin: 20px 0">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item cursor" *ngFor="let category of categories"><a class="text-muted" (click)="toCategory(category)">{{category | uppercase}}</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item cursor"><a class="text-muted" (click)="toPrice(0)">Low - High</a></li>
      <li class="list-group-item cursor"><a class="text-muted" (click)="toPrice(1)">High - Low</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item cursor" *ngFor="let r of rating"><a class="text-muted" (click)="toRatings(r)">Ratings: {{r}}+</a></li>
    </ul>
  </div>
</div>


