<div class="row" >
  <div *ngIf="products">
  <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let product of products">
    
     <div class="card" (click)="getDetails(product.id)" >
      <img class="img-responsive" src="{{product.img}}" width="300px" height="220px">
      <div class="card-body">
        <h3 class="card-title">{{product.name}} <span>{{product.price}}</span></h3>
        <span class="card-text">{{product.ratings}}</span>
      </div> 
      
    </div> 
    </div>
    <div [hidden]=products><h3>Wait...</h3></div>
    
  </div> 
  
</div>